<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_view.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plot.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <title>Seery</title>
  </head>
  <body>
    <h1><a href="/" class="seery-title">Seery</a></h1>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      <footer class="footer">
        <div class="footer-content">
          <div class="footer-links">
            <a href="https://github.com/tippenein/seent" target="_blank" class="footer-link">
              <img src="{{ url_for('static', filename='github-cat.png') }}" alt="GitHub" class="footer-icon">
              View on GitHub
            </a>
            <a href="https://dith.ai/" target="_blank" class="footer-link">
              <img src="{{ url_for('static', filename='dith.jpg') }}" alt="dith.ai" class="footer-icon">
              Learn more
            </a>
            <a href="https://twitter.com/Dither_Solana" target="_blank" class="footer-link">
              <img src="https://abs.twimg.com/favicons/twitter.ico" alt="Twitter" class="footer-icon">
              Follow on X
            </a>
          </div>
          <p class="footer-disclaimer">Disclaimer: This project is loosely affiliated with Dither. Direct your questions and comments to the GitHub issues page.</p>
        </div>
      </footer>
      {% endblock %}
    </div>
  </body>
</html>